

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  text-align: center;
}

#clock {
  font-size: 35px;
  font-weight: bold;

  box-shadow: 2px 3px 13px 1.5px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
  max-width:400px;
  width: 100%;
  background-color : rgb(75, 167, 209);
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.calculatorInput {
  font-size: 22px;
  text-align: center;
  width: 25%;
}

.calculatorButtons {
  padding: 20px;
  width: 25%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

h2 {
  margin: 50px;
}
